.blog-crv .item {
  display: flex;
  align-items: center;
  height: 100%;
}
.block-sec .testim-box .slick-dots li button {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
}
.slider .social-icon a {
  margin: 0 3px;
}
.navbar .navbar-nav .nav-link {
  text-transform: capitalize;
}
.navbar .navbar-nav .nav-link,
.video .vid .vid-butn .icon,
.video-wrapper .vid .vid-butn .icon {
  cursor: pointer;
}
.block-sec .vid-area {
  z-index: 99;
}
.div-tooltip-tit,
.div-tooltip-sub {
  display: block;
  padding: 0;
}
section.testimonials {
  overflow: hidden;
}
.contact-page .pages-header {
  overflow: hidden;
}
.CircularProgressbar {
  width: 110px;
  height: 110px;
}
.slick-prev,
.slick-next {
  display: none !important;
}
body .slick-dots li button {
  display: block !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.team .navs span.next.cursor-pointer {
  margin: 0 7px;
}
.projdtal .justified-gallery a {
  width: 100%;
  margin-bottom: 15px;
}
.projdtal .justified-gallery img {
  min-height: 440px;
  height: 440px;
  object-fit: cover;
  width: 100%;
}

.projdtal .justified-gallery .big-img {
  min-height: 700px;
  height: 700px;
}
.topnav .menu-icon {
  display: flex;
}
@media screen and (max-width: 991px) {
  .collapse {
    display: block;
    height: 0;
    padding: 0;
    opacity: 0;
  }
  .navbar .navbar-collapse.show-with-trans {
    opacity: 1;
    padding: 10px 15px;
    height: auto;
    transition: all 0.3s linear;
  }
}
section.next-prog {
  overflow: hidden;
}
.hideX #preloader {
  display: none !important;
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}
.hideX .pace {
  display: none !important;
}

#ieatmaps iframe {
  width: 100%;
  height: 100%;
}
section.team.section-padding {
  overflow: hidden;
}

.scroll-line-container {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 4px;
  height: 100vh;
  z-index: 10;
}

.scroll-line-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ccc;
  opacity: 0.3;
}

.scroll-line {
  position: absolute;
  width: 100%;
  height: 0%;
  background: #3498db;
  transition: height 0.3s ease-out;
}
.scroll-line-container {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100px;
  height: 100vh;
  z-index: -1; /* Ensure it stays behind other elements */
}

.scroll-line-svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.video-container {
  position: relative;
  width: 100%;
  height: 450px; /* Ensure full height */
  overflow: hidden; /* Prevent black bars */
}

.video-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Forces video to take full height */
  object-fit: cover; /* Makes video cover the area */
}
.project-img:hover{
  cursor: pointer !important;

}
.hover-title{
  min-width: 100% !important;
}
.hover-title span {
  display: inline-block;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.hover-title:hover span {
  cursor: pointer !important;
  transform: translateY(-5px);
  opacity: 0.8;
}

.check-all-projects-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  text-align: center;
  z-index: 1;
}

.check-all-projects-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  transition: left 0.4s ease-in-out;
}

.check-all-projects-button:hover {
  color: #000;
}

.check-all-projects-button:hover::before {
  left: 0;
}
@media screen and (max-width: 768px) {
  .check-all-projects-button {
  display: inline-block;
  padding: 8px 18px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  text-align: center;
  margin-bottom: 40px;
  z-index: 1;
}
}
.main-text-color{
  color: #75dab4;
}

